<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      lang="fr">
<h:head>
    <title>AGP Demonstration</title>
</h:head>
<h:body id="www-url-cz" style="background-color: #ECEAE0; font-family: 'FontAwesome'; color: #221E1D; margin-left: 20%; margin-bottom: 10%; margin-top: 2%; margin-right: 20%;">
    <p style="text-align: center; font-size: 200%;">
        <strong>Bienvenue sur le site de démonstration AGP</strong>
    </p>
    <fieldset style="border-color: #63AA9C; border-width: 6px">
        <legend><strong style="font-size: 130%">Merci de remplir le formulaire</strong></legend>
        <h:form style="font-family: 'Open Sans', sans-serif; padding:3%">
            <span style="float: left">
            <strong>Durée de séjour </strong> (en jours) :
            <br/>
            <h:inputText value="#{form.duration}"/>
            <br/>
            <br/>
            <strong>Tranche de prix </strong> (en euros) :
            <br/>
            Minimum :
            <h:inputText value="#{form.priceMin}"/>
            <br/>
            <br/>
            Maximum :
            <h:inputText value="#{form.priceMax}"/>
            <br/>
            <br/>
            <strong>Temps de transport maximum </strong> (en minutes):
            <br/>
            <h:inputText value="#{form.transportDuration}"/>
            <br/>
            <br/>
            </span>
            <span style="display: inline-block; margin-left:10% ">
            <strong>Préférence de voyage </strong> :
            <h:selectOneRadio value="#{form.preference}">
                <f:selectItem itemValue="Both" itemLabel="Aucune"/>
                <f:selectItem itemValue="Bus" itemLabel="Bus"/>
                <f:selectItem itemValue="Boat" itemLabel="Bateau"/>
            </h:selectOneRadio>

            <br/>
            <strong>Gamme d'hotel </strong> (nombre d'étoile de 1 à 5) :
            <h:selectOneRadio required="true" value="#{form.hotelRange}">
                <f:selectItem itemValue="1"/>
                <f:selectItem itemValue="2"/>
                <f:selectItem itemValue="3"/>
                <f:selectItem itemValue="4"/>
                <f:selectItem itemValue="5"/>
            </h:selectOneRadio>
            <br/>
            <strong>Nombre d'excursions durant le séjour </strong>:
            <br/>
            <h:inputText value="#{form.nbExcursion}"/>
            <br/>
            <br/>
            <strong>Mots clés </strong> :
            <br/>
            <h:inputTextarea value="#{form.keyWords}"/>
            </span>
            <br/>
            <br/>
            <h:commandButton style="background-color: #E9633B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;" value="Rechercher des offres de séjour" action="#{form.validSearch}"/>
        </h:form>
    </fieldset>
    <p/>
</h:body>
</html>