<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
>
<h:head>
    <title>AGP Demonstration</title>
</h:head>

<h:body id="www-url-cz"
        style="background-color:#ECEAE0; font-family: 'FontAwesome'; color: #221E1D; margin-left: 20%; margin-bottom: 10%; margin-top: 2%; margin-right: 20%;">
    <p style="text-align: center; font-size: 200%;">
        <strong>Bienvenue sur le site de démonstration AGP</strong>
    </p>
    <fieldset style="border-color: #63AA9C; border-width: 6px">
        <legend><strong style="font-size: 130%">Vos critères de recherches :</strong></legend>
        <h:panelGroup style="font-family: 'Open Sans', sans-serif; padding:3%; font-size: medium">
            <br/>
            <strong>Durée de séjour </strong>: #{form.duration} jours
            <br/>
            <strong>Tranche de prix</strong> : #{form.priceMin}/#{form.priceMax}€
            <br/>
            <strong>Temps de transport maximum</strong> : #{form.duration} min
            <br/>
            <strong>Préférence de voyage</strong> :
            <c:choose>
                <c:when test="#{form.preference == 'Both'}">
                    Aucune
                </c:when>
                <c:when test="#{form.preference == 'Boat'}">
                    Bateau
                </c:when>
                <c:otherwise>
                    #{form.preference}
                </c:otherwise>
            </c:choose>
            <br/>
            <strong>Gamme d'hotel</strong> : #{form.hotelRange} étoiles
            <br/>
            <strong>Nombre d'excursions durant le séjour</strong> : #{form.nbExcursion}
            <br/>
            <strong>Mots clés</strong> : #{form.keyWords}
            <br/>
        </h:panelGroup>
        <br/>
        <br/>
        <br/>
        <h:form>
            <h:commandButton style="background-color: #E9633B; color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;"
                             value="Recommencer ma recherche" action="index"/>
        </h:form>
    </fieldset>
    <c:choose>
        <c:when test="#{resultBean.exist== false}">
            <fieldset  style="border-color: #63AA9C; border-width: 6px; margin-top: 10%" >
                <legend><strong style="font-size: 130%">Résultats associés à votre recherche pour un voyage de #{resultBean.days} jours.</strong></legend>
                <h:dataTable value="#{resultBean.offers}" var="offer">
                    <h:column>
                        <br/>
                        Hôtel #{offer.hotel.range} étoiles : "#{offer.hotel.name}" pour un prix de #{offer.hotel.price}€ par nuit.
                        <br/>
                        Adresse de l'hotel : #{offer.hotel.adress}
                        <br/>
                        <br/>
                        Cette offre de séjour comprend #{offer.excursionsSize} excursions :
                        <br/>
                        <h:dataTable value="#{offer.excursions}" var="excursion">
                            <h:column>
                                <br/>
                                - #{excursion.abstractTouristicSite.name}
                                <br/>
                                #{excursion.abstractTouristicSite.description}.
                                <br/>
                                Le trajet s'effectue en #{excursion.transport.name} et dure #{excursion.transport.duration}min.
                                <br/>
                                Prix total de l'excursion : #{excursion.price}€.
                                <br/>
                            </h:column>
                        </h:dataTable>
                        <br/>
                        <br/>
                        <strong>Prix total du séjour : #{offer.price}€</strong>
                        <br/>
                        --------------------------------------------------------------------------------------------------------------------------------
                        <br/>
                    </h:column>
                </h:dataTable>
            </fieldset>
        </c:when>
        <c:otherwise>
            <p style="color: red">Aucun résultat ne correspond à votre recherche</p>
        </c:otherwise>
    </c:choose>
</h:body>
</html>